<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Presupuestos</title>
<link th:href="@{/css/app.css}" rel="stylesheet" />
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
<link th:href="@{/vendor/datatables/select.bootstrap4.min.css}"
	rel="stylesheet">


<script type="text/javascript"
	th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript"
	th:src="@{/vendor/datatables/dataTables.select.min.js}"></script>
<!-- 	<script type="text/javascript" th:src="@{/js/demo/datatables-demo.js}"></script> -->
<script type="text/javascript"
	th:src="@{/js/budget/budgetDatatable.js}"></script>
</head>
<body>
	<section layout:fragment="content">




		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-2 text-gray-800">
				<i class="fas fa-fw fa-file-invoice-dollar"></i> Presupuestos
			</h1>

			<div class="align-items-right ">
				<a class="btn "
					th:classappend="${isActiveBudgetList} ? 'btn-success' : 'btn-outline-success'"
					th:href="@{/budgets/list/actives}">Activos</a> <a class="btn "
					th:classappend="${isInactiveBudgetList} ? 'btn-success' : 'btn-outline-success'"
					th:href="@{/budgets/list/inactives}">Inactivos</a> <a
					class="btn "
					th:classappend="${isAllBudgetList} ? 'btn-success' : 'btn-outline-success'"
					th:href="@{/budgets/list}">Todos</a> <a title="Nuevo presupuesto"
					th:href="@{/budgets/save}" class="btn btn-primary btn-circle btn">
					<i class="fas fa-file-invoice-dollar">+</i>
				</a>
			</div>
		</div>



		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">
					<span th:if="${isAllBudgetList} "> <i
						class="fas fa-fw fa-table"></i> Todos los presupuestos registrados
					</span> 
					
					<span th:if="${isActiveBudgetList} "> <i
						class="fas fa-fw fa-table"></i> Listado de presupuestos activos 
						
					</span> 
					
					<span th:if="${isInactiveBudgetList} "> <i
						class="fas fa-fw fa-table"></i> Listado de presupuestos inactivos
					</span>
				</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table
						class="table display hover table-striped table-bordered dt-responsive nowrap"
						id="budgetDataTable" width="100%" cellspacing="0">
						<thead class="table-dark">

							<tr>
								<th>Id</th>
								<th class="text-center">Cliente</th>
								<th class="text-center">Nº</th>
								<th class="text-center">Descripción</th>
								<th class="text-center">Fecha</th>
								<th class="text-center">Total <i
									class="fas fa-euro-sign"></i>
								</th>
<!-- 								<th class="text-center">Precio/trabajador <i -->
<!-- 									class="fas fa-euro-sign"></i></th> -->
								<th class="text-center"><i class="fas fa-download"></i></th>
								<th class="text-center"><i class="fas fa-pencil-alt"></i></th>
								<th class="text-center"><i class="fas fa-trash"></i></th>
								<th class="text-center"><i class="fas fa-play"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${budgets.empty}">
								<td colspan="2">No hay presupuestos disponibles</td>
							</tr>

							<tr th:each="budget : ${budgets}">
								<td class="align-middle" th:text="${budget.uuid}"></td>
								<td class="align-middle" th:text="${budget.customerDTO.name} + ' ' + ${budget.customerDTO.surnames}"></td>
								<td class="align-middle" th:text="${budget.budgetNumber}"></td>
								<td class="align-middle" th:text="${budget.description}"></td>
								<td class="align-middle" th:text="${#dates.format(budget.date, 'dd/MM/yyyy')}"></td>
								<td class="align-middle" th:text="${budget.cost} + ' €'"></td>

									<td class="align-middle" ><a title="Descargar presupuesto"
										th:href="@{/budgets/print/{uuid}(uuid=${budget.uuid})}"
										class="btn btn-primary btn-circle btn"> <i class="fas fa-print"></i>
										</a> 
									</td>
									

								<td class="align-middle">
										<a title="Editar presupuesto" class="btn btn-info"
										th:href="@{/budgets/save/{uuid}(uuid=${budget.uuid})}"><i
											class="fas fa-edit ml-2"></i></a>
										
										
										
					</td>

								<td class="align-middle" th:if="${budget.expirationDate}">

									&nbsp</td>
								<td class="align-middle" th:unless="${budget.expirationDate}">
									<a title="Borrar presupuesto" class="btn btn-danger" data-toggle="modal"
									th:attr="data-target='#deleteConfirm'+${budget.uuid }"><i
										class="fas fa-trash-alt ml-1"></i></a>

								</td>
								
								
								<td class="align-middle">
								<a title="Comenzar trabajo" class="btn "
										th:classappend="${isActiveBudgetList} ? 'btn-success' : 'btn-outline-success'"
										th:href="@{/works/create(budgetId = ${budget.uuid})}"><i class="fas fa-briefcase"></i></a>

</td>

								<div class="modal fade" th:id="'deleteConfirm' + ${budget.uuid}"
									data-backdrop="static" data-keyboard="false" tabindex="-1"
									aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title font-italic font-weight-bold"
													id="staticBackdropLabel">Confirmación de borrado</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body font-weight-bold"
												th:text="'¿Estás seguro de borrar el presupuesto ' + ${budget.description} + '?'">¿Estás
												seguro de borrar el presupuesto ?</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Cancelar</button>
												<a type="button" class="btn btn-primary"
													th:href="@{/budgets/delete/{uuid}(uuid=${budget.uuid})}">Borrar</a>
											</div>
										</div>
									</div>
								</div>


							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>


</body>
</html>