<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<title>Nuevo empleado</title>
<link th:href="@{/css/app.css}" rel="stylesheet" />
<script type="text/javascript"
	th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/onlyNumberKey.js}"></script>
</head>
<body>
	<section layout:fragment="content">

		<h1 class="h3 mb-2 text-gray-800" th:if="${isEditConstructionMaterial}">
			<i class="fas fa-edit ml-2" aria-hidden="true"></i> Editar
			material de construcción
		</h1>
		<h1 class="h3 mb-2 text-gray-800" th:unless="${isEditConstructionMaterial}">
			<i class="fa fa-gavel" aria-hidden="true">+</i> Nuevo material de construcción
		</h1>

		<form action="#" th:action="@{/construction-materials/save}"
			th:object="${constructionMaterial}" method="post">

			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">
						<i class="fa fa-file-text-o" aria-hidden="true"></i> <i
							class="fa fa-address-card" aria-hidden="true"
							th:text="${isEditConstructionMaterial}?'Formulario de edición':'Formulario de alta'"></i>
					</h6>
				</div>
				<div class="card-body">
					<div class="form-row">


						<input type="hidden" class="form-control" th:field="*{uuid}"
							id="uuid">

						<div class="col-md-5 mb-3">
							<label for="name">Descripción</label> <input type="text"
								class="form-control" th:field="*{description}" id="dni" required>
						</div>

<!-- 						<div class="col-md-5 mb-3"> -->
<!-- 							<label for="name">Precio</label> <input type="number" -->
<!-- 								class="form-control" th:field="*{price}" id="name" required onkeypress="return onlyNumberKey(event)"> -->
<!-- 						</div> -->
						
						
						
						
						
						
						<div class="col-md-2 mb-3">
							<label for="price">Precio </label>

							<div class="input-group">
								<input id="price" th:field="*{price}"
									type="text"  class="form-control"
									aria-label="Precio" required
									onkeypress="return onlyNumberKey(event)">																																			
									
								<div class="input-group-append">
									<span class="input-group-text"><i
										class="fas fa-euro-sign"></i></span> 
								</div>
							</div>
						</div>
						


						<div class="col-md-2 mb-3 text-danger" th:if="*{expirationDate}">
							<label for="surnames">Fecha de baja</label>
							<div class="input-group">
																	 
								<input type="text" readonly class="form-control"

									th:field="*{expirationDate}" id="expirationDate">
									
									<a
									class="btn bg-transparent"
									onclick="document.getElementById('expirationDate').value = ''"
									style="margin-left: -40px; z-index: 100;"> <i
									class="fa fa-times"></i>
								</a>
							</div>
						</div>

					</div>

					<button class="btn btn-success float-right " type="submit">Guardar</button>
					<a class="btn btn-primary float-right mr-1"
						href="javascript: history.go(-1)">Cancelar</a>
				</div>
			</div>
		</form>

	</section>

</body>
</html>