<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>Empleados</title>
	<script type="text/javascript" th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/demo/datatables-demo.js}"></script>
</head>
<body>
  <section layout:fragment="content">
    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Nuevo empleado</h1>
               
  </section>  
  
 

    
    
    
</body>
</html>