<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Dashboard</title>
<!--   <script src="content-script.js"></script> -->
</head>
<body>
	<section layout:fragment="content">

		<div class="row" th:object="${dashboard}">

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									<a th:href="@{/employees/list/actives}">Empleados</a>
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"
									th:text="*{employeeTotal}">número total empleados</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-users fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-success text-uppercase mb-1">
									<a th:href="@{/customers/list/actives}">Clientes</a>
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"
									th:text="*{customerTotal}">número total clientes</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-users fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-info text-uppercase mb-1">
									<a th:href="@{/construction-materials/list/actives}">Materiales
										de construcción</a>
								</div>
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
											th:text="*{constructionMaterialTotal}">número total
											materiales de construcción</div>
									</div>
									
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-gavel fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 			<div class="col-xl-3 col-md-6 mb-4"> -->
			<!-- 				<div class="card border-left-warning shadow h-100 py-2"> -->
			<!-- 					<div class="card-body"> -->
			<!-- 						<div class="row no-gutters align-items-center"> -->
			<!-- 							<div class="col mr-2"> -->
			<!-- 								<div -->
			<!-- 									class="text-xs font-weight-bold text-warning text-uppercase mb-1"> -->
			<!-- 									Pending Requests</div> -->
			<!-- 								<div class="h5 mb-0 font-weight-bold text-gray-800">18</div> -->
			<!-- 							</div> -->
			<!-- 							<div class="col-auto"> -->
			<!-- 								<i class="fas fa-comments fa-2x text-gray-300"></i> -->
			<!-- 							</div> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 			</div> -->

		</div>

	</section>
</body>
</html>