<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TIM.-home</title>
<link th:href="@{/css/app.css}" rel="stylesheet" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} " />

</head>

<body>
	
	<!-- Navigation -->
	<p>
		This is text on which we want to apply <strong>very special</strong>
		styling.
	</p>

	<div th:replace="fragments/navbar"></div>

	<div class="container">
		<div class="row mt-5">
			<div class="col">
				<a th:href="@{test/view1}">ir a view1</a>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#exampleModal">Launch simple modal</button>

				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#exampleModal1">Dynamic modal 1</button>

				<button type="button" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#exampleModal2">Dynamic modal 2</button>

				<th:block th:replace="_modals :: modal('exampleModal')">modal</th:block>
				<th:block th:replace="_modals :: modal('exampleModal1')">modal</th:block>
				<th:block th:replace="_modals :: modal('exampleModal2')">modal</th:block>
			</div>
		</div>
	</div>
	<p>
		Número de empleados: <span th:text="${employees.size}"> name </span>
	</p>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${employees.empty}">
				<td colspan="2">No hay empleados disponibles</td>
			</tr>



						<tr th:each="employee : ${employees}">
							<td class="align-middle" th:text="${employee.id}"></td>
							<td class="align-middle" th:text="${employee.name}"></td>							
						</tr>

<!-- 			<tr th:each="employees : employee}"> -->
<!-- 				<td th:text="${employee.id}">1</td> -->
<!-- 				<td th:text="${employee.name}">Text ...</td> -->
<!-- 			</tr> -->
		</tbody>
	</table>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal"
		data-bs-target="#staticBackdrop">Launch static backdrop modal
	</button>


	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">...</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Understood</button>
				</div>
			</div>
		</div>
	</div>



	<div class="container mt-5">
		<h5 align="center">Create Tab Panel</h5>
		<ul class="nav nav-tabs mt-5">
			<li class="nav-item"><a href="#home" class="nav-link active"
				data-bs-toggle="tab">Home</a></li>
			<li class="nav-item"><a href="#aboutus" class="nav-link"
				data-bs-toggle="tab">About Us</a></li>
			<li class="nav-item"><a href="#contactus" class="nav-link"
				data-bs-toggle="tab">Contact Us</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="home">
				<h3>Home tab</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
					vel porta ex. Nam sit amet ex nec arcu consequat dictum eu nec
					velit. Sed mattis euismod malesuada. Donec mattis nibh a nulla
					dictum, in rutrum metus fringilla. Phasellus tincidunt euismod
					pellentesque. Curabitur eget est sagittis, pellentesque libero nec,
					ornare massa. Suspendisse non imperdiet sem, vel gravida odio.
					Pellentesque diam dui, venenatis quis metus et, luctus accumsan
					erat. Cras eget metus nisl. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia curae; Fusce
					tempor eget nisl id imperdiet. Cras ut convallis arcu, in tempor
					libero.</p>
			</div>
			<div class="tab-pane fade" id="aboutus">
				<h3>About Us tab</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
					vel porta ex. Nam sit amet ex nec arcu consequat dictum eu nec
					velit. Sed mattis euismod malesuada. Donec mattis nibh a nulla
					dictum, in rutrum metus fringilla. Phasellus tincidunt euismod
					pellentesque. Curabitur eget est sagittis, pellentesque libero nec,
					ornare massa. Suspendisse non imperdiet sem, vel gravida odio.
					Pellentesque diam dui, venenatis quis metus et, luctus accumsan
					erat. Cras eget metus nisl. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia curae; Fusce
					tempor eget nisl id imperdiet. Cras ut convallis arcu, in tempor
					libero.</p>
			</div>
			<div class="tab-pane fade" id="contactus">
				<h3>Contact US tab</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
					vel porta ex. Nam sit amet ex nec arcu consequat dictum eu nec
					velit. Sed mattis euismod malesuada. Donec mattis nibh a nulla
					dictum, in rutrum metus fringilla. Phasellus tincidunt euismod
					pellentesque. Curabitur eget est sagittis, pellentesque libero nec,
					ornare massa. Suspendisse non imperdiet sem, vel gravida odio.
					Pellentesque diam dui, venenatis quis metus et, luctus accumsan
					erat. Cras eget metus nisl. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia curae; Fusce
					tempor eget nisl id imperdiet. Cras ut convallis arcu, in tempor
					libero.Messages tab content ...</p>
			</div>
		</div>
	</div>






	<!-- 	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script> -->
	<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>





	<script>
	

	const exampleModal1 = document.getElementById('exampleModal1')
	const exampleModal2 = document.getElementById('exampleModal2')
	const staticBackdrop = document.getElementById('staticBackdrop')

	exampleModal1.addEventListener('shown.bs.modal', function () {
		fetch("/modals/modal1")
	    .then(function(res){
	     return res.text()
	    })
	    .then((res)=>{
	    	exampleModal1.querySelector('.modal-body').innerHTML=res;	    	
	    })
	})
	
	
	exampleModal2.addEventListener('click', ()=> {
		var name = prompt("Please enter your name", "Harry Potter");


		
		
	})

	exampleModal2.addEventListener('shown.bs.modal', ()=> {
// 		var name = prompt("Please enter your name", "Harry Potter");


		
		fetch("/modals/modal2?name=" + name)
	    .then(function(res){
	     return res.text()
	    })
	    .then((res)=>{
	    	exampleModal1.querySelector('.modal-body').innerHTML=res;	    	
	    })
	})
	
	

	
// 		$('#exampleModal1').on('show.bs.modal', function() {
// 			$.get("/modals/modal1", function(data) {
// 				$('#exampleModal1').find('.modal-body').html(data);
// 			})
// 		});

// 		$('#exampleModal2').on('show.bs.modal', function() {
// 			var name = prompt("Please enter your name", "John Doe");
// 			$.get("/modals/modal2?name=" + name, function(data) {
// 				$('#exampleModal2').find('.modal-body').html(data);
// 			})
// 		})
	</script>


</body>
</html>